@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

.App {
  font-family: Jost;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: rgb(194, 190, 190);
  border-radius: 5%;
}

.completion-message {
  font-size: 24px;
  text-align: center;
  font-style: italic;
}